infrastructure/n8n/workflows/chat_workflow.json
{
  "name": "Kelvin Chat",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0c938c24-759f-4926-818f-afd46833239b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "api_url",
              "value": "http://192.168.10.66:8000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "76d54cf8-518b-499a-8e2b-ee3c14a1c5d0",
      "name": "Set Kelvin URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/api/v1/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"message\": \"Tell me a joke about AI.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "be53918b-5ec2-4003-889b-ee62514917ea",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cZuE5eWPuh8TUSnX",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Kelvin URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Kelvin URL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "db2e571e-5898-44a5-ab65-7209c843f7be",
  "meta": {
    "instanceId": "a771b1c24939a6dbba071abc213d67513e41b835b7691c799a772d5fb05819b5"
  },
  "nodeGroups": [],
  "id": "bWF4gLoMn9AOqZR5",
  "tags": []
}