infrastructure/n8n/workflows/Updater v2.json
{
  "name": "Updater v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "538224e2-f191-4ae4-b370-d0de659b50db",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "api_url",
              "value": "http://192.168.10.13:8000",
              "type": "string",
              "id": "47b169a3-dfdd-41a4-bfb5-36a21cfa65ad"
            },
            {
              "name": "rss_feed_url",
              "value": "https://github.com/n8n-io/n8n/releases.atom",
              "type": "string",
              "id": "d6b1a765-54cb-475e-8c00-caf57b028635"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -176
      ],
      "id": "b7ae4933-1992-49e0-8af8-db7ef3d477d7",
      "name": "Set URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.rss_feed_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        864,
        -176
      ],
      "id": "fb7b52b3-95c3-4634-8007-dcc46fff93db",
      "name": "RSS Feed Read",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "retryInterval": 2000
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst feedText = items.map(item => `- Title: ${item.json.title}\\n  Link: ${item.json.link}\\n  Snippet: ${item.json.contentSnippet}`).join('\\n\\n');\nreturn [{ json: { feedContent: feedText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -176
      ],
      "id": "67b9597a-d91d-4f52-8fc1-119fffbe6803",
      "name": "Merge Feed Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set URLs').item.json.api_url }}/api/v1/agent/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "goal",
              "value": "=Analyze the following n8n releases feed:  {{ $json.feedContent }}  Determine if there is a new stable release that is newer than our currently installed version in 'infrastructure/n8n/compose.yaml'. If so, update the compose.yaml file to use the new stable version. Show the diff and ask for approval."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        -176
      ],
      "id": "f9066a72-747e-40aa-974c-3650dc9de847",
      "name": "HTTP Request - Trigger Kelvin Agent Run",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "retryInterval": 2000
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cZuE5eWPuh8TUSnX",
          "name": "Kelvin API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set URLs').item.json.api_url }}/api/v1/agent/runs/{{ $('HTTP Request - Trigger Kelvin Agent Run').item.json.id }}/plan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1624,
        -176
      ],
      "id": "a5b7c8d9-e0f1-4a2b-3c4d-5e6f7a8b9c0d",
      "name": "HTTP Request - Begin Planning",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cZuE5eWPuh8TUSnX",
          "name": "Kelvin API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URLs": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Merge Feed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Feed Items": {
      "main": [
        [
          {
            "node": "HTTP Request - Trigger Kelvin Agent Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Trigger Kelvin Agent Run": {
      "main": [
        [
          {
            "node": "HTTP Request - Begin Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c207ba14-85c0-4a07-83d7-a369f56e832b",
  "meta": {
    "instanceId": "a771b1c24939a6dbba071abc213d67513e41b835b7691c799a772d5fb05819b5"
  },
  "nodeGroups": [],
  "id": "e1opUxjDhYpaSU28",
  "tags": []
}